Source: ros-foxy-ament-nodl
Section: misc
Priority: optional
Maintainer: Ubuntu Robotics <ubuntu-robotics@lists.launchpad.net>
Build-Depends: debhelper (>= 9.0.0), ros-foxy-ament-cmake, ros-foxy-ament-lint-auto, ros-foxy-ament-lint-common, ros-foxy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-foxy-ament-nodl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-ros-workspace
Description: Ament extension for exporting NoDL .xml files
